.users-main {
  margin-top: 4rem !important;
  a {
    font-size: 1rem;
  }
}

.users-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f6f7;
}

.left-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: $primary-color;

  .img-wrapper {
    position: absolute;
    width: 120%;
    height: 95%;
    top: 30px;
    left: 30px;
    background-color: #f1f6f7;

    img {
      position: absolute;

      opacity: 0.2;
    }
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: green;
}

.file {
  position: relative;
  flex-grow: 1;
}
.file_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file_input:hover + .file_btn {
  background-color: #147e8f;
}

.loader-wrapper-abs {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50px;
  margin-left: -25px;
}

.loader-wrapper {
  position: fixed;
  top: 30vh;
  left: 50vw;
  width: 50px;
  margin-left: -25px;
}

.loader {
  margin-top: calc(50vh * 0.12674);
  margin-bottom: calc(50vh * 0.12674);
  height: 50px;
  background: url(./../../img/svg/loading_icon.gif) center / 50px no-repeat;
}

.user-img-wrapper {
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.user-edit-form {
  p {
    color: #0e0e0e;
  }
  .Profile_id__RsspH {
    color: green;
  }
}

.userId-name {
  div {
    color: #006100;
    font-size: 12px;
  }
}

.modal-form {
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 18px 2px #034711;
}
.animated {
  animation-name: top-anim;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
.animated-rev {
  animation-name: top-anim-rev;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes top-anim {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes top-anim-rev {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-300px);
  }
  90% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(-2000px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09125f;
  transition: opacity 0.4s ease-out;
  opacity: 0;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 2%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  top: calc(50% - 1px);
  width: 30px;
  height: 3px;
  background-color: $primary-color;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.form-header {
  font-weight: 700;
  color: $primary-color;
  margin-bottom: 34px;
}
